{{> Platform:SearchResultsFragments::defaultStyle}}

<div class='page__body'>
    <div style='padding-bottom: 32px'>
      <div class="text-center">
        <h1 style='padding-top: 24px;'><b>Notice application</b></h1>
        <h4>
        <p>POC application built for notice data</p></h4>        
      </div>
    </div>
    <div class='search' style="padding-top: 32px;">  
      {{> Platform:SearchResultsFragments::defaultStyle}}
      <semantic-search id="notices-and-orgs-search"
        relations='{
            
            "<http://metaphacts.com/relation/cpv>": [{
                "kind": "resource",
                "queryPattern": "
                $subject (<http://data.europa.eu/a4g/ontology#refersToProcedure>|<http://data.europa.eu/a4g/ontology#announcesProcedure>)/<http://data.europa.eu/a4g/ontology#hasPurpose>/<http://data.europa.eu/a4g/ontology#hasMainClassification> ?__value__ .
                "
            }],
            
            "<http://metaphacts.com/relation/buyer-main-activity-category>": [{
                "kind": "resource",
                "queryPattern": "
                $subject <http://data.europa.eu/a4g/ontology#announcesRole>/<http://data.europa.eu/a4g/ontology#playedBy>/<http://data.europa.eu/a4g/ontology#hasMainActivity> ?__value__ . ?__value__ a <http://www.w3.org/2004/02/skos/core#Concept> .
                "
            }],
            "<http://metaphacts.com/relation/procedure-type>": [{
                "kind": "resource",
                "queryPattern": "
                $subject (<http://data.europa.eu/a4g/ontology#refersToProcedure>|<http://data.europa.eu/a4g/ontology#announcesProcedure>)/<http://data.europa.eu/a4g/ontology#hasProcedureType> ?__value__ .
                "
            }],
            "<http://metaphacts.com/relation/contract-nature-type>": [{
                "kind": "resource",
                "queryPattern": "
                $subject (<http://data.europa.eu/a4g/ontology#refersToProcedure>|<http://data.europa.eu/a4g/ontology#announcesProcedure>)/<http://data.europa.eu/a4g/ontology#hasProcurementScopeDividedIntoLot>/<http://data.europa.eu/a4g/ontology#foreseesContractSpecificTerm>/<http://data.europa.eu/a4g/ontology#hasContractNatureType> ?__value__ .
                "
            }],
            "<http://metaphacts.com/relation/place-of-perf>": [{
                "kind": "resource",
                "queryPattern": "
                $subject (<http://data.europa.eu/a4g/ontology#refersToProcedure>|<http://data.europa.eu/a4g/ontology#announcesProcedure>)/<http://data.europa.eu/a4g/ontology#hasProcurementScopeDividedIntoLot>/<http://data.europa.eu/a4g/ontology#foreseesContractSpecificTerm>/<http://data.europa.eu/a4g/ontology#hasBroadPlaceOfPerformance> ?__value__ .
                "
            }],
            "<http://metaphacts.com/relation/company-legal-name>": [{
                "kind": "text",
                "queryPattern": "
                $subject <http://data.europa.eu/a4g/ontology#announcesRole>/<http://data.europa.eu/a4g/ontology#playedBy>/<http://data.europa.eu/a4g/ontology#hasLegalName> ?__value__ .
                "
            }],
            "<http://metaphacts.com/relation/publication-date>": [{
                "kind": "date-range",
                "queryPattern": "
                $subject <http://data.europa.eu/a4g/ontology#hasPublicationDate> ?_pubDate .
                BIND(STRDT(CONCAT(SUBSTR(?_pubDate, 1, 4), \"-\", SUBSTR(?_pubDate, 5, 2), \"-\", SUBSTR(?_pubDate, 7, 2)), <http://www.w3.org/2001/XMLSchema#date>) AS ?pubDate).
                FILTER(?pubDate >= ?__dateBeginValue__) .
                FILTER(?pubDate <= ?__dateEndValue__) .
                "
            }],
            "<http://metaphacts.com/relation/estimated-value-in-eur>": [{
                "kind": "numeric-range",
                "queryPattern": "
                $subject (<http://data.europa.eu/a4g/ontology#refersToProcedure>|<http://data.europa.eu/a4g/ontology#announcesProcedure>)/<http://data.europa.eu/a4g/ontology#hasEstimatedValue> ?estimatedValue .
                ?estimatedValue <http://data.europa.eu/a4g/ontology#hasAmountValue> ?amount ;
                  <http://data.europa.eu/a4g/ontology#hasCurrency> ?curr .
                FILTER(?curr = <http://publications.europa.eu/resource/authority/currency/EUR>) .
                FILTER(?amount >= ?__numericRangeBeginValue__) .
                FILTER(?amount <= ?__numericRangeEndValue__) .
                "
            }],
            "<http://metaphacts.com/relation/country-code>": [{
                "kind": "resource",
                "queryPattern": "
                $subject <http://data.europa.eu/m8g/registeredAddress>/<http://data.europa.eu/a4g/ontology#hasCountryCode> ?__value__ .
                "
            }],
            "<http://metaphacts.com/relation/nuts-code>": [{
                "kind": "resource",
                "queryPattern": "
                $subject <http://data.europa.eu/m8g/registeredAddress>/<http://data.europa.eu/a4g/ontology#hasNutsCode> ?__value__ .
                "
            }],
            "<http://metaphacts.com/relation/post-code>": [{
                "kind": "text",
                "queryPattern": "
                $subject <http://data.europa.eu/m8g/registeredAddress>/<http://www.w3.org/ns/locn#postCode> ?__value__ .
                "
            }],
            "<http://metaphacts.com/relation/post-name>": [{
                "kind": "text",
                "queryPattern": "
                $subject <http://data.europa.eu/m8g/registeredAddress>/<http://www.w3.org/ns/locn#postCode> ?__value__ .
                "
            }]
        }'
        search-profile='{
            "categories": [
                {
                    "iri": "<http://data.europa.eu/a4g/ontology#Notice>",
                    "label": "Notice",
                    "includeAsDomain": true
                },
                {
                    "iri": "<http://data.europa.eu/a4g/ontology#Organization>",
                    "label": "Organization",
                    "includeAsDomain": false
                },
                {
                    "iri": "<http://www.w3.org/ns/org#Organization>",
                    "label": "Organization",
                    "includeAsDomain": true
                },
                {
                    "iri": "<http://metaphacts.com/relation/estimated-value-in-eur>",
                    "label": "estimated value (€)",
                    "includeAsDomain": false
                },
                {
                    "iri": "<http://www.w3.org/2004/02/skos/core#Concept>",
                    "label": "concept",
                    "includeAsDomain": false
                }
            ],
            "relations": [
                {
                    "iri": "<http://data.europa.eu/a4g/ontology#hasNoticeType>",
                    "label": "notice type",
                    "hasDomain": "<http://data.europa.eu/a4g/ontology#Notice>",
                    "hasRange": "<http://www.w3.org/2004/02/skos/core#Concept>"
                },
                {
                    "iri": "<http://data.europa.eu/a4g/ontology#hasFormType>",
                    "label": "form type",
                    "hasDomain": "<http://data.europa.eu/a4g/ontology#Notice>",
                    "hasRange": "<http://www.w3.org/2004/02/skos/core#Concept>"
                },
                {
                    "iri": "<http://metaphacts.com/relation/buyer-main-activity-category>",
                    "label": "buyer main activity",
                    "hasDomain": "<http://data.europa.eu/a4g/ontology#Notice>",
                    "hasRange": "<http://www.w3.org/2004/02/skos/core#Concept>"
                },
                {
                    "iri": "<http://metaphacts.com/relation/procedure-type>",
                    "label": "procedure type",
                    "hasDomain": "<http://data.europa.eu/a4g/ontology#Notice>",
                    "hasRange": "<http://www.w3.org/2004/02/skos/core#Concept>"
                },
                {
                    "iri": "<http://metaphacts.com/relation/contract-nature-type>",
                    "label": "contract nature",
                    "hasDomain": "<http://data.europa.eu/a4g/ontology#Notice>",
                    "hasRange": "<http://www.w3.org/2004/02/skos/core#Concept>"
                },
                {
                    "iri": "<http://metaphacts.com/relation/place-of-perf>",
                    "label": "place of performance",
                    "hasDomain": "<http://data.europa.eu/a4g/ontology#Notice>",
                    "hasRange": "<http://www.w3.org/2004/02/skos/core#Concept>"
                },
                {
                    "iri": "<http://metaphacts.com/relation/cpv>",
                    "label": "business sector (CPV)",
                    "hasDomain": "<http://data.europa.eu/a4g/ontology#Notice>",
                    "hasRange": "<http://www.w3.org/2004/02/skos/core#Concept>"
                },
                {
                    "iri": "<http://metaphacts.com/relation/publication-date>",
                    "label": "publication date",
                    "hasDomain": "<http://data.europa.eu/a4g/ontology#Notice>",
                    "hasRange": "<http://www.w3.org/2001/XMLSchema#date>"
                },            
                {
                    "iri": "<http://data.europa.eu/a4g/ontology#hasDispatchDate>",
                    "label": "dispatch date",
                    "hasDomain": "<http://data.europa.eu/a4g/ontology#Notice>",
                    "hasRange": "<http://www.w3.org/2001/XMLSchema#date>"
                },
                {
                    "iri": "<http://metaphacts.com/relation/estimated-value-in-eur>",
                    "label": "estimated value (€)",
                    "hasDomain": "<http://data.europa.eu/a4g/ontology#Notice>",
                    "hasRange": "<http://www.w3.org/2001/XMLSchema#double>"
                },
                {
                    "iri": "<http://data.europa.eu/a4g/ontology#hasMainActivity>",
                    "label": "main activity",
                    "hasDomain": "<http://www.w3.org/ns/org#Organization>",
                    "hasRange": "<http://www.w3.org/2001/XMLSchema#string>"
                },
                {
                    "iri": "<http://data.europa.eu/a4g/ontology#hasBuyerLegalType>",
                    "label": "buyer legal type",
                    "hasDomain": "<http://www.w3.org/ns/org#Organization>",
                    "hasRange": "<http://www.w3.org/2004/02/skos/core#Concept>"
                },
                {
                    "iri": "<http://metaphacts.com/relation/country-code>",
                    "label": "country code",
                    "hasDomain": "<http://www.w3.org/ns/org#Organization>",
                    "hasRange": "<http://www.w3.org/2004/02/skos/core#Concept>"
                },
                {
                    "iri": "<http://metaphacts.com/relation/nuts-code>",
                    "label": "NUTS type",
                    "hasDomain": "<http://www.w3.org/ns/org#Organization>",
                    "hasRange": "<http://www.w3.org/2004/02/skos/core#Concept>"
                },
                {
                    "iri": "<http://metaphacts.com/relation/post-code>",
                    "label": "post type",
                    "hasDomain": "<http://www.w3.org/ns/org#Organization>",
                    "hasRange": "<http://www.w3.org/2001/XMLSchema#string>"
                },
                {
                    "iri": "<http://metaphacts.com/relation/post-name>",
                    "label": "post name",
                    "hasDomain": "<http://www.w3.org/ns/org#Organization>",
                    "hasRange": "<http://www.w3.org/2001/XMLSchema#string>"
                }
            ]
        }'
        categories='{
            "<http://www.w3.org/2004/02/skos/core#Concept>": [{

            "kind": "hierarchy",
            "queryPattern": "$subject ?__relation__ ?__value__",
            "hierarchyResultSemantics": "individual",
            "treePatterns": {
                "kind": "simple"
            }
            }]
        }'

        >
        <!-- TODO Fix publication date - it's not a date! -->
        <div class="search">
          <style>
            [data-flex-layout*=rows][data-flex-layout*=stretch-], [data-flex-layout*=columns][data-flex-layout*=-stretch] {
              justify-content: center;
            }
          </style>
          <semantic-search-query-universal id="universal-search" 
            query='
                PREFIX Service: <http://www.metaphacts.com/ontologies/platform/service/>
                PREFIX keywordsearch: <http://www.metaphacts.com/ontologies/platform/service/keywordsearch/>
                SELECT ?subject WHERE {
                ?subject a ?__domain__
                FILTER(?__keywordPattern__)
                FILTER(?__expressionPattern__)
                }'
            count-query="
                PREFIX Service: <http://www.metaphacts.com/ontologies/platform/service/>
                PREFIX keywordsearch: <http://www.metaphacts.com/ontologies/platform/service/keywordsearch/>
                SELECT (COUNT(*) as ?count) WHERE {
                FILTER(?__keywordPattern__)
                }">
          </semantic-search-query-universal>
            <semantic-search-facet-store id="facet"></semantic-search-facet-store>
            <semantic-search-result-group template="{{> searchResultGroupTemplate}}">
              <template id="searchResultGroupTemplate">
                <div class="searchTopMenu">
                  {{> Platform:SearchResultsFragments::startButton}}
                  {{> Platform:SearchResultsFragments::clearDomain}}
                </div>
                {{> ::custom-searchResultGroupTemplate
                  showKnowledgePanel=true
                  showDomainSelector=true
                  showExplorationFacets=true
                  showSaveSearchResultActions=false
                  enableMultiExploreRelated=false
                }}
              </template>
            </semantic-search-result-group>
          </div>
        </semantic-search>
    </div>  
</div>


<template-fragment export id='custom-searchResultGroupTemplate' params='{
    "showExplorationFacets": {
      "required": false,
      "type":"boolean",
      "default": true,
      "description": "If enabled, facets will be shown when exploring all entities of a domain without further search conditions being formulated. Consider to disable this option to improve performance on large datasets with millions of entities."
    },
    "showDomainSelector": {
      "required": false,
      "type":"boolean",
      "default": true,
      "description": "If enabled, the domain selector will be shown in the search results for configured categories."
    },
    "showKnowledgePanel": {
      "required": false,
      "type": "boolean",
      "default": false,
      "description": "If enabled, the knowledge panel for a corresponding resource will be shown when clicking on the title of a search result item."
    },
    "showSaveSearchResultActions": {
      "required": false,
      "type": "boolean",
      "default": false,
      "description": "If enabled, the search result action \"Save Set\" will be shown when a domain is selected."
    },
    "enableMultiExploreRelated": {
      "required": false,
      "type": "boolean",
      "default": "true",
      "description": "If enabled, search results can be selected to explore results for any of them."
    }
  }'>
    <div class='domainSelectorAndFacets'>
      {{#if (cond-not hasConjuncts)}}
        {{#unless (cond-eq showDomainSelector false)}}
        <semantic-search-query-universal-domain-selector target='{{queryFormulationComponentId}}'></semantic-search-query-universal-domain-selector>
        {{/unless}}
      {{/if}}
      {{#if (cond-or (cond-neq showExplorationFacets false) keyword hasConjuncts)}}
          <semantic-search-facet-holder>
            <semantic-search-facet-group 
              default-settings='{"sorting": "alpha-asc",
              "headerTemplate": "{{> default-header}}"}'
              variant='horizontal'>
              <template id='default-header'>
                <div class='SemanticSearchFacet--relationHeader croppableHeader'>
                  {{#if (cond-eq $relation.label.value "estimated value (€)")}}
                    {{$relation.label.value}}&nbsp;<span 
                    class="material-symbols-outlined" 
                    style="color: rgb(177, 177, 179); padding-left: 3px; font-size: 0.9em; vertical-align: -0.2em; display: inline !important"
                    title="only values expressed in € currency are included in this filter"
                >help</span>
                  {{else}}
                    {{$relation.label.value}}
                  {{/if}}
                </div>
              </template>
            </semantic-search-facet-group>
          </semantic-search-facet-holder>
      {{/if}}
    </div>
    <semantic-search-facet-breadcrumbs></semantic-search-facet-breadcrumbs>
    <semantic-search-result-holder>
      {{#if domain}}
        <semantic-search-result domain='{{domain.iri}}'>
          <div class='resultTemplate'>
            {{#> @partial-block category=domain selected=true searchKeyword=keyword}}
              {{> Platform:AppSearchResultsCustomization::custom-defaultResultsTemplate}}
            {{/@partial-block}}
          </div>
        </semantic-search-result>
        {{#if showSaveSearchResultActions}}
          {{> ::search-result-save-set-action}}
        {{/if}} 
      {{else}}
        {{#each categories as |category|}}
          <div class='resultTemplate'>
            <semantic-search-result domain='{{category.iri}}'>
              {{#> @partial-block category=category selected=false searchKeyword=../keyword searchId=../searchId queryFormulationComponentId=../queryFormulationComponentId hasConjuncts=../hasConjuncts limit=../limit}}
                {{> Platform:SearchResultsFragments::defaultResultsTemplate}}
              {{/@partial-block}}
            </semantic-search-result>
          </div>
        {{/each}}
      {{/if}}
    </semantic-search-result-holder>
  </template-fragment>
  
  <template-fragment id='search-result-save-set-action'>
    <div class='saveSearchAsSet'>
      <semantic-search-action-save-set-result id='save-set-result-action'>
        <button class="btn btn-outline-secondary">Save As Set</button>
      </semantic-search-action-save-set-result>
    </div>
  </template-fragment>