<div style="margin: 24px">
    <h1 style="margin-bottom: 20px;">How to use this application</h1>
    <h1>Application features</h1>
    The application is designed for procurement notices data. It's organized around the two types of data: Notice (<i>epo:Notice</i>) and organization (<i>org:Organization</i>). It allows following operations on notice and organization data:
    <ol>
        <li>View a resource page</li>
        <li>Browse</li>
        <li>Search by facets</li>
        <li>Search by a keyword</li>
        <li>Navigate between related resource pages (for example visit a buyer page)</li>
    </ol>
    
    <h1>Features</h1>
    <h2>Browse notice/organization resources</h2>
    <img src="{{page-publicPath}}/assets/000002-metaphactory-poc.png">
    
    <h3>Narrow down search results by using facets</h3>
    <img src="{{page-publicPath}}/assets/000004-metaphactory-poc.png">
    <h3>Narrow down search results by searching for a keyword</h3>
    Limitation: the keyword search is based on exact match of words.
    
    <h2>Display details of a resource</h2>
    <h2>Preview a resource</h2>
    The feature displays a preview of an RDF resource containing properties with their values. The preview is a pure view of underlying KG subgraph and lets a more experienced user to dig into the linked data.
    <h3>Search list view</h3>
    <img src="{{page-publicPath}}/assets/000005-metaphactory-poc.png">
    <h3>Resource details view</h3>
    <img src="{{page-publicPath}}/assets/000006-metaphactory-poc.png">
    <h2>Term definition lookup</h2>
    <img src="{{page-publicPath}}/assets/000007-metaphactory-poc.png">
    <h2>Events timeline</h2>
    The notice view page offers a view containing dates of important events marked on a timeline.
    <img src="{{page-publicPath}}/assets/000008-metaphactory-poc.png">
</div>

