<style>
  .navigationSidebar {
    width: 310px;
    margin-left: 5px;
    margin-top: 8px;
    border: 1px solid var(--mp-color-primary-100);
    z-index: 100;
    position: sticky;
    top: 70px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    line-height: 2.5em;
  }
  .custom-page-header {
      padding: 16px 64px 16px 78px;
    background-color: var(--mp-color-dark-50);
    /* display: flex; */
    align-items: start;
  }
  .custom-page-content {
    display: flex;
    align-items: start;
  }
  .main-content {
    padding: 6px 96px 8px 24px;
    width: 100%;
    border-top: 1px solid var(--mp-color-primary-100);
  }
  .wide-card {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .content-comment {
    font-style: italic;
  }
  .no-content-comment {
    font-style: italic;
    color: gray;
  }
  .indent-l1 {
    padding-left: 8px;
  }
  .section {
    background-color: rgb(252, 249, 253);
    margin: 4px;
    border: 1px solid var(--mp-color-primary-100);
    padding: 8px 24px 8px 16px;
    /* position: relative;
    height: auto; */
  }

  /* TODO check if it is needed */
  .DataTable--semantic-data-table {
    position: relative;
    height: auto;
  }
  .term-card {
    width: 48%;
    margin: 8px;
  }
   .term-container {
    display: grid;
    padding: 8px;
   }
   .term-card-body {
    margin-left: 16px;
    margin-right: 16px;
   }
   .show-more {
    display: block;
    margin-left: auto;
    margin-right: auto;
   }
   
   .card-toggle.isExpanded .expand-card,
  .card-toggle.isCollapsed .collapse-card {
    display: none;
  }
</style>
<template-fragment id="tf-overview">
  <semantic-query query="
    PREFIX epo: <http://data.europa.eu/a4g/ontology#> 
    SELECT DISTINCT ?notice ?dispatchDate ?id ?idStr ?publicationDate
    WHERE {
      BIND (?? as ?notice)
      ?notice a epo:Notice .
      ?notice epo:refersToProcedure ?procedure ;
      
      epo:hasID ?id ;
      epo:hasPublicationDate ?_publicationDate .
      BIND(STRDT(CONCAT(SUBSTR(?_publicationDate, 1, 4), '-', SUBSTR(?_publicationDate, 5, 2), '-', SUBSTR(?_publicationDate, 7, 2)), xsd:date) AS ?publicationDate).
      ?id epo:hasIdentifierValue ?idStr .
    }
    "
    template='{{>tpl }}'>
    <template id='tpl'>
      {{#each bindings}}
      <!-- {{> Platform:customTemplateFragments::KeyIriRow key="IRI" iri=notice.value label=notice }} -->
      {{> Platform:customTemplateFragments::KeyIriRow key="ID" iri=id.value label=idStr.value}}
      <!-- {{#bind pubDate=(dateTimeFormat publicationDate.value "YYYY-MM-DD") }}
        {{> Platform:customTemplateFragments::KeyValueRow key="Publication date" value=pubDate }}
      {{/bind}} -->
      {{> Platform:customTemplateFragments::KeyValueRow key="Publication date" value=publicationDate.value }}
      {{#if dispatchDate}}{{> Platform:customTemplateFragments::KeyValueRow key="Dispatch date" value=dispatchDate.value }}{{/if}}
      <!-- {{> Platform:customTemplateFragments::KeyIriRow key="Procedure" iri=procedure.value label="procedure"}} -->
      {{/each}}
    </template>
  </semantic-query>
</template-fragment>
<template-fragment id="tf-timeline">
  <semantic-timeline id='timeline' no-result-template='No information available'
    query='
    PREFIX dct: <http://purl.org/dc/terms/>
    PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
    PREFIX epo: <http://data.europa.eu/a4g/ontology#> 
    SELECT DISTINCT ?start ?label
    WHERE {
        { 
            BIND (?? as ?notice)
            BIND("Publication date" as ?label)
            ?notice epo:hasPublicationDate ?_publicationDate .
            BIND(STRDT(CONCAT(SUBSTR(?_publicationDate, 1, 4), "-", SUBSTR(?_publicationDate, 5, 2), "-", SUBSTR(?_publicationDate, 7, 2)), xsd:date) AS ?start).
        } UNION {
            BIND (?? as ?notice)
            BIND("Dispatch date" as ?label)
            ?notice epo:hasDispatchDate ?start .
        } UNION {
            BIND (?? as ?notice)
            BIND("Issued" as ?label)
            ?notice dct:issued ?start .
        } UNION {
            BIND (?? as ?notice)
            BIND("Reception date" as ?label)
            ?notice epo:hasReceptionDate ?start .
        } UNION {
            BIND (?? as ?notice)
            BIND("E-sender dispatch date" as ?label)
            ?notice epo:hasDispatchDate ?start .
        }
    }
     '
    tuple-template="{{> template}}" tuple-template-height='100'>
    <template id="template">
      <div>
        <div><u><b>{{label.value}}</b></u></div> <div> {{start.value}}</div>
      </div>
    </template>
  </semantic-timeline>
</template-fragment>
<template-fragment id="tf-lots">
  <semantic-query query="
    PREFIX epo: <http://data.europa.eu/a4g/ontology#> 
    SELECT DISTINCT ?procedure (COUNT(?lot) AS ?lots_cnt)
    WHERE {
      BIND (?? as ?notice)
      ?notice a epo:Notice .
      ?notice epo:refersToProcedure ?procedure .
      ?procedure a epo:Procedure ;
        epo:hasProcurementScopeDividedIntoLot ?lot .
    }
    GROUP BY ?procedure 
    "
    template='{{>tpl }}'>
    <template id='tpl'>
      {{#each bindings}}
      {{> Platform:customTemplateFragments::KeyValueRow key="Number of lots" value=lots_cnt.value }}
      
      {{/each}}
    </template>
  </semantic-query>
</template-fragment>
<template-fragment id="tf-buyer">
  <semantic-query query="
      PREFIX Service: <http://www.metaphacts.com/ontologies/platform/service/>
      PREFIX mplabel: <http://www.metaphacts.com/ontologies/platform/service/label/>

      PREFIX cccev: <http://data.europa.eu/m8g/> 
      PREFIX org: <http://www.w3.org/ns/org#> 
      PREFIX epo: <http://data.europa.eu/a4g/ontology#> 
      SELECT ?buyerOrg ?legalName ?mainActivity ?mainActivityLabel ?orgAddress
      WHERE {
        BIND (?? as ?notice)
        ?notice a epo:Notice .
        ?notice epo:announcesRole ?role .
        ?role a epo:Buyer ;
          epo:playedBy ?buyerOrg .
        ?buyerOrg a org:Organization ;
          epo:hasLegalName ?legalName ;
          epo:hasBuyerLegalType ?legalType ;
          epo:hasMainActivity ?mainActivity ;
          cccev:registeredAddress ?orgAddress .
          SERVICE Service:label {
            ?mainActivity mplabel:label ?mainActivityLabel ;
            mplabel:preferredLanguage ?__userPreferredLanguage__ .
          }
      }
      "
      template='{{>tpl2 }}'>
    <template id='tpl2'>
      {{#each bindings}}
      {{> Platform:customTemplateFragments::KeyIriRow key="Buyer organization" iri=buyerOrg.value label=legalName.value }}
      {{> Platform:customTemplateFragments::KeyIriRow key="Main activity" iri=mainActivity label=mainActivityLabel.value }}
      {{/each}}
    </template>
  </semantic-query>
</template-fragment>
<template-fragment id="tf-procedure">
  <semantic-query query="
  PREFIX Service: <http://www.metaphacts.com/ontologies/platform/service/>
  PREFIX mplabel: <http://www.metaphacts.com/ontologies/platform/service/label/>
  
  PREFIX adms: <http://www.w3.org/ns/adms#> 
  PREFIX dct: <http://purl.org/dc/terms/>
  PREFIX cccev: <http://data.europa.eu/m8g/> 
  PREFIX org: <http://www.w3.org/ns/org#> 
  PREFIX skos: <http://www.w3.org/2004/02/skos/core#> 
  PREFIX epo: <http://data.europa.eu/a4g/ontology#> 
  SELECT 
      ?notice
      ?procedure
      ?id
      ?_id
      ?_identifier
      ?title
      ?description 
      ?contractNatureType  # EXT; TODO move contract terms to dedicated component and include another 20 optional props
      ?contractNatureTypeLabel
      ?additionalInformation
      ?estimatedValue
      ?estValCurrencyLabel
      ?mainFeature 
      ?procedureType # EXT
      ?procedureTypeLabel
      ?cpv  # EXT
      ?cpvLabel
      # ?subjectToProcedureSpecificTerm # TODO move to a dedicated section
  
      ?designContest
      ?executedByProcurementServiceProvider
      ?jointProcurement
      ?accelerated
      ?specifiesProcurementCriteriaSummary
      ?responsibilityOfBuyer
      ?involvesBuyer
      ?acceleratedProcedureJustification
      ?usesChannel
      ?isSMESuitable
      ?isUsingEUFunds
      ?isCoveredByGPA
      ?isRecurrent
      ?recurrenceDescription
      ?concession
      ?launchFrameworkAgreementMaximumValue
      ?legalBasis # EXT
      ?legalBasisLabel
      ?legalBasisDescription
      ?usesTechnique
      ?SubjectToTerm
      ?fulfillsStrategicProcurement
  WHERE {
      BIND (?? as ?notice)
      ?notice epo:refersToProcedure ?procedure .
      ?procedure a epo:Procedure ;
          epo:foreseesContractSpecificTerm [epo:hasContractNatureType ?contractNatureType] .
          SERVICE Service:label {
              ?contractNatureType mplabel:label ?contractNatureTypeLabel ;
              mplabel:preferredLanguage ?__userPreferredLanguage__ .
          }
          # epo:isSubjectToProcedureSpecificTerm ?subjectToProcedureSpecificTerm ;  # TODO move to a dedicated section
      
      OPTIONAL { ?procedure epo:hasAdditionalInformation ?additionalInformation }
      OPTIONAL { ?procedure ?descriptionProp ?description 
          FILTER(?descriptionProp in (
              dct:description,
              epo:hasDescription
          )) .
      }
      OPTIONAL {
          ?procedure epo:hasEstimatedValue [
              epo:hasAmountValue ?estimatedValue ; epo:hasCurrency ?estValCurrency
          ] .
          SERVICE Service:label {
              ?estValCurrency mplabel:label ?estValCurrencyLabel ;
              mplabel:preferredLanguage ?__userPreferredLanguage__ .
          }
      }
      OPTIONAL { ?procedure epo:hasID [epo:hasIdentifierValue ?_id] }
      OPTIONAL { ?procedure adms:identifier [a adms:Identifier ; skos:notation ?_identifier ] }
      BIND(COALESCE(?_id, ?_identifier) AS ?id)
      OPTIONAL { ?procedure epo:hasMainFeature ?mainFeature }
      OPTIONAL {
        ?procedure epo:hasProcedureType ?procedureType .
        SERVICE Service:label {
          ?procedureType mplabel:label ?procedureTypeLabel ;
          mplabel:preferredLanguage ?__userPreferredLanguage__ .
        }
      }
      OPTIONAL {
        ?procedure epo:hasPurpose [epo:hasMainClassification ?cpv]
        SERVICE Service:label {
          ?cpv mplabel:label ?cpvLabel ;
          mplabel:preferredLanguage ?__userPreferredLanguage__ .
        }
      }
      OPTIONAL {
          ?procedure ?titlePred ?title ;
          FILTER(?titlePred in (
              epo:hasTitle,
              dct:title
          )) .
      }
      OPTIONAL { ?procedure epo:isDesignContest ?designContest }
      OPTIONAL { ?procedure epo:isExecutedByProcurementServiceProvider ?executedByProcurementServiceProvider }
      OPTIONAL { ?procedure epo:isJointProcurement ?jointProcurement }
      OPTIONAL { ?procedure epo:isAccelerated ?accelerated }
      OPTIONAL { ?procedure epo:specifiesProcurementCriteriaSummary ?specifiesProcurementCriteriaSummary }
      OPTIONAL { ?procedure epo:isResponsibilityOfBuyer ?responsibilityOfBuyer }
      OPTIONAL { ?procedure epo:involvesBuyer ?involvesBuyer }
      OPTIONAL { ?procedure epo:hasAcceleratedProcedureJustification ?acceleratedProcedureJustification }
      OPTIONAL { ?procedure epo:usesChannel ?usesChannel}
      OPTIONAL { ?procedure epo:isSMESuitable ?isSMESuitable }
      OPTIONAL { ?procedure epo:isUsingEUFunds ?isUsingEUFunds }
      OPTIONAL { ?procedure epo:isCoveredByGPA ?isCoveredByGPA }
      OPTIONAL { ?procedure epo:isRecurrent ?isRecurrent }
      OPTIONAL { ?procedure epo:hasRecurrenceDescription ?recurrenceDescription }
      OPTIONAL { ?procedure epo:foreseesConcession ?concession }
      OPTIONAL { ?procedure epo:hasLaunchFrameworkAgreementMaximumValue ?launchFrameworkAgreementMaximumValue }
      OPTIONAL { ?procedure epo:hasLegalBasisDescription ?legalBasisDescription }
      OPTIONAL {
        ?procedure epo:hasLegalBasis ?legalBasis
        SERVICE Service:label {
          ?legalBasis mplabel:label ?legalBasisLabel ;
          mplabel:preferredLanguage ?__userPreferredLanguage__ .
        }
      }
      OPTIONAL { ?procedure epo:usesTechnique ?usesTechnique }
      OPTIONAL { ?procedure epo:isSubjectToTerm ?SubjectToTerm }
      OPTIONAL { ?procedure epo:fulfillsStrategicProcurement ?fulfillsStrategicProcurement }
  
  }
    "
    template='{{>tpl }}'>
    <template id='tpl'>
      {{#each bindings}}
      {{> Platform:customTemplateFragments::KeyValueRow key="ID" value=id.value }}
      {{#if procedureType}}{{> Platform:customTemplateFragments::KeyIriRow key="Procedure type" iri=procedureType label=procedureTypeLabel.value }}{{/if}}
      {{> Platform:customTemplateFragments::KeyValueRow key="Title" value=title.value }}
      {{> Platform:customTemplateFragments::KeyLongValueRow key="Description" value=description.value }}
      {{#if estimatedValue}}{{> Platform:customTemplateFragments::KeyValueRow key="Estimated value" value=(number-format estimatedValue.value style="currency" currency=estValCurrencyLabel.value) }}{{/if}}
      {{> Platform:customTemplateFragments::KeyValueRow key="Main feature" value=mainFeature.value }}
      {{#if cpv }}{{> Platform:customTemplateFragments::KeyIriRow key="Purpose (CPV)" iri=cpv label=cpvLabel.value }}{{/if}}
      {{> Platform:customTemplateFragments::KeyLongValueRow key="Additional information" value=additionalInformation.value }}
      {{#if contractNatureType }}{{> Platform:customTemplateFragments::KeyIriRow key="Contract nature type" iri=contractNatureType label=contractNatureTypeLabel.value }} {{/if}}
      <bs-accordion class="wide-card">
        <!-- <bs-accordion default-active-key="expand"> -->
          <bs-card>
            <bs-card-header>
              Additional information
              <bs-accordion-toggle event-key="expand" class="btn btn-link">
                expand
              </bs-accordion-toggle>
            </bs-card-header>
            <bs-accordion-collapse event-key="expand">
              <bs-card-body>
                
                  {{> Platform:customTemplateFragments::KeyValueRow key="designContest" value=designContest.value }}
                  {{> Platform:customTemplateFragments::KeyValueRow key="executedByProcurementServiceProvider" value=executedByProcurementServiceProvider.value }}
                  {{> Platform:customTemplateFragments::KeyValueRow key="jointProcurement" value=jointProcurement.value }}
                  {{> Platform:customTemplateFragments::KeyValueRow key="accelerated" value=accelerated.value }}
                  {{> Platform:customTemplateFragments::KeyValueRow key="specifiesProcurementCriteriaSummary" value=specifiesProcurementCriteriaSummary.value }}
                  {{> Platform:customTemplateFragments::KeyValueRow key="responsibilityOfBuyer" value=responsibilityOfBuyer.value }}
                  {{> Platform:customTemplateFragments::KeyValueRow key="involvesBuyer" value=involvesBuyer.value }}
                  {{> Platform:customTemplateFragments::KeyValueRow key="acceleratedProcedureJustification" value=acceleratedProcedureJustification.value }}
                  {{> Platform:customTemplateFragments::KeyValueRow key="usesChanne" value=usesChanne.value }}
                  {{> Platform:customTemplateFragments::KeyValueRow key="isSMESuitable" value=isSMESuitable.value }}
                  {{> Platform:customTemplateFragments::KeyValueRow key="isUsingEUFunds" value=isUsingEUFunds.value }}
                  {{> Platform:customTemplateFragments::KeyValueRow key="isCoveredByGPA" value=isCoveredByGPA.value }}
                  {{> Platform:customTemplateFragments::KeyValueRow key="isRecurrent" value=isRecurrent.value }}
                  {{> Platform:customTemplateFragments::KeyLongValueRow key="recurrenceDescription" value=recurrenceDescription.value }}
                  {{> Platform:customTemplateFragments::KeyValueRow key="concession" value=concession.value }}
                  {{> Platform:customTemplateFragments::KeyValueRow key="launchFrameworkAgreementMaximumValue" value=launchFrameworkAgreementMaximumValue.value }}
                  {{> Platform:customTemplateFragments::KeyLongValueRow key="legalBasisDescription" value=legalBasisDescription.value }}
                  {{> Platform:customTemplateFragments::KeyIriRow key="legalBasis" iri=legalBasis label=legalBasisLabel.value }}
                  {{> Platform:customTemplateFragments::KeyValueRow key="usesTechnique" value=usesTechnique.value }}
                  {{> Platform:customTemplateFragments::KeyValueRow key="SubjectToTerm" value=SubjectToTerm.value }}
                  {{> Platform:customTemplateFragments::KeyValueRow key="fulfillsStrategicProcurement" value=fulfillsStrategicProcurement.value }}
                
              </bs-card-body>
            </bs-accordion-collapse>
          </bs-card>
        </bs-accordion>
       
      {{/each}}
    </template>
  </semantic-query>
</template-fragment>
<template-fragment id="tf-procedure-terms-all">
  <div class="container">

    <div class="row">
      <div class="term-container">
        <bs-tabs id="tabs">
          <bs-tab event-key="1" title="procedure review">
            {{> ::tf-procedure-review-terms}}
          </bs-tab>
          <bs-tab event-key="2" title="direct award">
            {{> ::tf-procedure-direct-award-terms}}
          </bs-tab>
        </bs-tabs>
      </div>
    </div>
  </div>
</template-fragment>
<template-fragment id="tf-procedure-review-terms">
  <semantic-table query="
      PREFIX Service: <http://www.metaphacts.com/ontologies/platform/service/>
      PREFIX mplabel: <http://www.metaphacts.com/ontologies/platform/service/label/>
      
      PREFIX cccev: <http://data.europa.eu/m8g/> 
      PREFIX org: <http://www.w3.org/ns/org#> 
      PREFIX skos: <http://www.w3.org/2004/02/skos/core#>

      PREFIX epo: <http://data.europa.eu/a4g/ontology#> 
      
      SELECT ?procTerm ?pstLabel ?procType ?procTypeLabel ?infoProviderOrg ?infoProviderName ?infoProviderId 
      ?reviewerOrg ?reviewerName ?reviewerId ?deadline ?deadlineInfo 
      WHERE {
        BIND (?? as ?notice)
        ?notice a epo:Notice .
        ?notice epo:refersToProcedure ?procedure .
        ?procedure a epo:Procedure .
        VALUES (?procType ?procTypeLabel ) {
          (epo:ReviewTerm 'Review term')
        }
        OPTIONAL {
          ?procedure epo:isSubjectToProcedureSpecificTerm ?procTerm .
          ?procTerm a epo:ReviewTerm .
          OPTIONAL {
            ?procTerm epo:definesReviewProcedureInformationProvider / epo:playedBy ?infoProviderOrg .
            ?infoProviderOrg a org:Organization ;
              epo:hasLegalName ?infoProviderName ;
              epo:hasLegalIdentifier / skos:notation ?infoProviderId .
          }
          OPTIONAL {
            ?procTerm epo:definesReviewer / epo:playedBy ?reviewerOrg .
            ?reviewerOrg a org:Organization ;
              epo:hasLegalName ?reviewerName ;
              epo:hasLegalIdentifier / skos:notation ?reviewerId .
          }
          OPTIONAL {
            ?procTerm epo:hasReviewDeadline ?deadline .
          }
          OPTIONAL {
            ?procTerm epo:hasReviewDeadlineInformation ?deadlineInfo .
          }

          SERVICE Service:label {
            ?procTerm mplabel:label ?pstLabel ;
              mplabel:preferredLanguage ?__userPreferredLanguage__ .
          }
        }
      }
    "
    number-of-displayed-rows="6" id="semantic-table-proc-spec-terms" tuple-template='
    <bs-card class="term-card h-100">
      <bs-card-header>
        {{> Platform:customTemplateFragments::Semlink iri=procType.value}}
      </bs-card-header>
      <bs-card-body class="term-card-body">
        <h6 class="card-title">{{> Platform:customTemplateFragments::Semlink iri=procTerm label=pstLabel.value}}</h6>
        <bs-card-text>
          <p>{{stType.value}} </p>
          {{#if infoProviderOrg}}{{> Platform:customTemplateFragments::KeyIriRow key="Information provider" iri=infoProviderOrg.value label=(string-of infoProviderName.value " (" infoProviderId.value ")") hide-if-none=true key-sm-offset="0" key-sm="4" val-sm-offset="0" val-sm="8"}}{{/if}}
          {{#if deadlineInfo}}{{> Platform:customTemplateFragments::KeyLongValueRow key="Deadline info" value=deadlineInfo.value key-sm-offset="0" key-sm="4" val-sm-offset="0" val-sm="8"}}{{/if}}
        </bs-card-text>
      </bs-card-body>
    </bs-card>
    '>
  </semantic-table>
</template-fragment>
<template-fragment id="tf-procedure-direct-award-terms">
  <semantic-table query="
      PREFIX Service: <http://www.metaphacts.com/ontologies/platform/service/>
      PREFIX mplabel: <http://www.metaphacts.com/ontologies/platform/service/label/>
      
      PREFIX cccev: <http://data.europa.eu/m8g/> 
      PREFIX org: <http://www.w3.org/ns/org#> 
      PREFIX skos: <http://www.w3.org/2004/02/skos/core#>

      PREFIX epo: <http://data.europa.eu/a4g/ontology#> 
      
      SELECT ?procTerm ?pstLabel ?procType ?procTypeLabel 
      ?justification ?directJustification ?directJustificationLabel ?previousProcedure ?previousProcedureLot
      WHERE {
        BIND (?? as ?notice)
        ?notice a epo:Notice .
        ?notice epo:refersToProcedure ?procedure .
        ?procedure a epo:Procedure .
        VALUES (?procType ?procTypeLabel ) {
          (epo:DirectAwardTerm 'Direct award term')
        }
        OPTIONAL {
          ?procedure epo:isSubjectToProcedureSpecificTerm ?procTerm .
          ?procTerm a epo:DirectAwardTerm .
          OPTIONAL {
            ?procTerm epo:hasDirectAwardJustification ?directJustification .
            SERVICE Service:label {
              ?directJustification mplabel:label ?directJustificationLabel ;
              mplabel:preferredLanguage ?__userPreferredLanguage__ .
            }
          }
          OPTIONAL {
            ?procTerm epo:hasJustification ?justification .
          }
          OPTIONAL {
            ?procTerm epo:refersToPreviousProcedure ?previousProcedure .
          }
          OPTIONAL {
            ?procTerm epo:refersToPreviousProcedureLot ?previousProcedureLot .
          }
        

          SERVICE Service:label {
            ?procTerm mplabel:label ?pstLabel ;
              mplabel:preferredLanguage ?__userPreferredLanguage__ .
          }
        }
      }
    "
    number-of-displayed-rows="6" id="semantic-table-proc-spec-terms" tuple-template='
    <bs-card class="term-card h-100">
      <bs-card-header>
        {{> Platform:customTemplateFragments::Semlink iri=procType.value}}
      </bs-card-header>
      <bs-card-body class="term-card-body">
        <h6 class="card-title">{{> Platform:customTemplateFragments::Semlink iri=procTerm label=pstLabel.value}}</h6>
        <bs-card-text>
          <p>{{stType.value}} </p>
          {{> Platform:customTemplateFragments::KeyIriRow key="Direct justification" iri=directJustification label=directJustificationLabel.value hide-if-none=true key-sm-offset="0" key-sm="4" val-sm-offset="0" val-sm="8"}}
          {{> Platform:customTemplateFragments::KeyLongValueRow key="Justification" value=justification.value key-sm-offset="0" key-sm="4" val-sm-offset="0" val-sm="8"}}
          {{> Platform:customTemplateFragments::KeyIriRowAutoLabel key="Previous procedure" iri=previousProcedure.value key-sm-offset="0" key-sm="4" val-sm-offset="0" val-sm="8"}}
          {{> Platform:customTemplateFragments::KeyIriRowAutoLabel key="Previous procedure Lot" iri=previousProcedureLot.value key-sm-offset="0" key-sm="4" val-sm-offset="0" val-sm="8"}}
        </bs-card-text>
      </bs-card-body>
    </bs-card>
    '>
  </semantic-table>
</template-fragment>
<template-fragment id="tf-contract-terms-all">
  <div class="container">

    <div class="row">
      <div class="term-container">
        <bs-tabs id="tabs">
          <bs-tab event-key="1" title="contract">
            {{> ::tf-contract-terms}}
          </bs-tab>
          <!-- <bs-tab event-key="2" title="framework agreement">
            {{> ::tf-framework-agreement-term}}
          </bs-tab>
          <bs-tab event-key="3" title="subcontract">
            {{> ::tf-framework-subcontract-term}}
          </bs-tab> -->
        </bs-tabs>
      </div>
    </div>
  </div>
</template-fragment>
<template-fragment id="tf-contract-terms">
  <semantic-table query="
  PREFIX Service: <http://www.metaphacts.com/ontologies/platform/service/>
  PREFIX mplabel: <http://www.metaphacts.com/ontologies/platform/service/label/>
  
  PREFIX locn: <http://www.w3.org/ns/locn#> 
  PREFIX cccev: <http://data.europa.eu/m8g/> 
  PREFIX org: <http://www.w3.org/ns/org#> 
  PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
  
  PREFIX epo: <http://data.europa.eu/a4g/ontology#> 
  
  SELECT 
    ?term
    ?placeOfPerformanceAddress
    ?hasAdditionalContractNature
    ?hasAdditionalContractNatureLabel
    ?hasBroadPlaceOfPerformance
    ?hasBroadPlaceOfPerformanceLabel
    ?hasContractNatureType
    ?hasContractNatureTypeLabel
    ?hasEInvoicingPermission
    ?hasOptionsDescription
    ?hasPaymentArrangement
    ?hasPerformanceConditions
    ?hasPlaceOfPerformanceAdditionalInformation
    ?hasRenewalDescription
    ?hasReservedExecution
    ?definesContractDuration
    ?definesContractPeriod
    ?definesPaymentExecutor
    ?definesSubcontractingTerm
    ?hasEInvoicing
    ?hasEOrdering
    ?hasEPayment
    ?hasLegalFormRequirement
    ?hasMaximumNumberOfRenewals
    ?hasOptions
    ?isRenewalIndicator
  WHERE {
    BIND (?? as ?notice)
    ?notice epo:refersToProcedure ?procedure .
    ?procedure a epo:Procedure .
    VALUES (?procType ?procTypeLabel ) {
        (epo:ContractTerm 'Contract term')
    }
    OPTIONAL {
        ?procedure epo:foreseesContractSpecificTerm ?term .
  
        OPTIONAL { ?term epo:definesSpecificPlaceOfPerformance [
          locn:address [ locn:fullAddress ?placeOfPerformanceAddress ]
        ] }
        OPTIONAL {
          ?term epo:hasAdditionalContractNature ?hasAdditionalContractNature .
          SERVICE Service:label {
            ?hasAdditionalContractNature mplabel:label ?hasAdditionalContractNatureLabel ;
              mplabel:preferredLanguage ?__userPreferredLanguage__ .
          }
        }
        OPTIONAL { 
          ?term epo:hasBroadPlaceOfPerformance ?hasBroadPlaceOfPerformance 
          SERVICE Service:label {
            ?hasBroadPlaceOfPerformance mplabel:label ?hasBroadPlaceOfPerformanceLabel ;
              mplabel:preferredLanguage ?__userPreferredLanguage__ .
          }  
        }
        OPTIONAL {
          ?term epo:hasContractNatureType ?hasContractNatureType 
          SERVICE Service:label {
            ?hasContractNatureType mplabel:label ?hasContractNatureTypeLabel ;
              mplabel:preferredLanguage ?__userPreferredLanguage__ .
          }  
        }
        OPTIONAL { ?term epo:hasEInvoicingPermission ?hasEInvoicingPermission }
        OPTIONAL { ?term epo:hasOptionsDescription ?hasOptionsDescription }
        OPTIONAL { ?term epo:hasPaymentArrangement ?hasPaymentArrangement }
        OPTIONAL { ?term epo:hasPerformanceConditions ?hasPerformanceConditions }
        OPTIONAL { ?term epo:hasPlaceOfPerformanceAdditionalInformation ?hasPlaceOfPerformanceAdditionalInformation }
        OPTIONAL { ?term epo:hasRenewalDescription ?hasRenewalDescription }
        OPTIONAL { ?term epo:hasReservedExecution ?hasReservedExecution }
        OPTIONAL { ?term epo:definesContractDuration ?definesContractDuration }
        OPTIONAL { ?term epo:definesContractPeriod ?definesContractPeriod }
        OPTIONAL { ?term epo:definesPaymentExecutor ?definesPaymentExecutor }
        OPTIONAL { ?term epo:definesSubcontractingTerm ?definesSubcontractingTerm }
        OPTIONAL { ?term epo:hasEInvoicing ?hasEInvoicing }
        OPTIONAL { ?term epo:hasEOrdering ?hasEOrdering }
        OPTIONAL { ?term epo:hasEPayment ?hasEPayment }
        OPTIONAL { ?term epo:hasLegalFormRequirement ?hasLegalFormRequirement }
        OPTIONAL { ?term epo:hasMaximumNumberOfRenewals ?hasMaximumNumberOfRenewals }
        OPTIONAL { ?term epo:hasOptions ?hasOptions }
        OPTIONAL { ?term epo:isRenewalIndicator ?isRenewalIndicator }
    }
  }
  
    "
    number-of-displayed-rows="6" id="semantic-table-contract-terms" tuple-template='
    <bs-card class="term-card h-100">
      <bs-card-header>
        {{> Platform:customTemplateFragments::Semlink iri=term.value}}
      </bs-card-header>
      <bs-card-body class="term-card-body">
        <h6 class="card-title">{{> Platform:customTemplateFragments::Semlink iri=procTerm label=pstLabel.value}}</h6>
        <bs-card-text>
          <p>{{stType.value}} </p>
          {{#if hasContractNatureType}}{{> Platform:customTemplateFragments::KeyIriRow key="Contract nature" iri=hasContractNature label=hasContractNatureLabel.value hide-if-none=true key-sm-offset="0" key-sm="4" val-sm-offset="0" val-sm="8"}}{{/if}}
          {{#if hasAdditionalContractNature}}{{> Platform:customTemplateFragments::KeyIriRow key="Additional contract nature" iri=hasAdditionalContractNature label=hasAdditionalContractNatureLabel.value hide-if-none=true key-sm-offset="0" key-sm="4" val-sm-offset="0" val-sm="8"}}{{/if}}
          {{#if placeOfPerformanceAddress}}{{> Platform:customTemplateFragments::KeyLongValueRow key="Performance address" value=placeOfPerformanceAddress.value key-sm-offset="0" key-sm="4" val-sm-offset="0" val-sm="8"}}{{/if}}
        </bs-card-text>
      </bs-card-body>
    </bs-card>
    '>
  </semantic-table>
</template-fragment>
<template-fragment id="tf-lots-and-tenders">
  <semantic-query query="
  PREFIX adms: <http://www.w3.org/ns/adms#> 
  PREFIX dct: <http://purl.org/dc/terms/> 
  PREFIX org: <http://www.w3.org/ns/org#> 
  PREFIX org: <http://www.w3.org/ns/org#> 
  PREFIX skos: <http://www.w3.org/2004/02/skos/core#> 
  
  PREFIX Service: <http://www.metaphacts.com/ontologies/platform/service/>
  PREFIX mplabel: <http://www.metaphacts.com/ontologies/platform/service/label/>
  
  PREFIX cccev: <http://data.europa.eu/m8g/> 
  PREFIX epo: <http://data.europa.eu/a4g/ontology#> 
  
  SELECT 
    ## lot
    ?lotId
    ?lotTitle
    ?lotDescription
    ?lotPurposeCode  # EXT
    ?lotAdditionalInformation
    ?pCriterion
    ?pCriterionLabel
    # ?lotSpecificTerm  # TODO move lot terms to dedicated component
    ?lotAwardOutcomeValue
    ?lotAwardOutcomeCurrency
    ?awardCriterion
    
    ?lotEstValue
    ?lotEstValCurrencyLabel
    ?lotRestatedEstValue
    ?lotRestatedEstValCurrencyLabel
    
    ?channel
    ?identifier
    ?isSMESuitable
    ?isUsingEUFunds
    ?isCoveredByGPA
    ?isRecurrent
    ?recurrenceDescription
    ?lotConcession
    ?launchFrameworkAgreementMaximumValue
    # ?lotContractSpecificTerm # TODO move
    ?legalBasisDescription
    ?legalBasis
    ?usesTechnique
    ?SubjectToTerm
    # (GROUP_CONCAT(distinct str(?strategicProcurementLabel); SEPARATOR=', ') as ?strategicProcurements)
    
    ## tender
    ?tender
    ?tenderTitle
    ?tenderDescription 
    ?tenderConcessionMethod
  
    ?hasPublicationDate
    ?hasReceptionDate
    ?hasDispatchDate
    ?hasVersion
    ?hasUUID
    ?refersToPrevious
    ?associatedWith
    ?hasUnofficialLanguage
    ?hasOfficialLanguage
    ?hasAccessURL
    ?hasElectronicDigest
    ?hasElectronicSignature
    ?hasElectronicSubmission
    ?isVariant
    ?isSubmitedBy
    ?isSubmittedForLot
    ?isSubjectToGrouping
    ?hasFinancialOfferValue
    ?specifiesSubcontractors
    ?foreseesSubcontracting
    ?hasSubcontracting
    ?hasItemCountryOfOrigin
  WHERE {
    BIND (?? as ?notice)
    ?notice a epo:Notice ;
      epo:refersToProcedure ?procedure .
    ?procedure a epo:Procedure ;
      epo:hasProcurementScopeDividedIntoLot ?lot .
    ?lot a epo:Lot .
  
    OPTIONAL {
      ?lot epo:hasAdditionalInformation ?lotAdditionalInformation .
    }
    OPTIONAL {
      ?lot epo:specifiesAwardCriterion [ dct:description ?awardCriterion ]
    }
    # TODO 0..* add support
    # OPTIONAL { ?lot epo:hasPurpose / epo:hasAdditionalClassification	?lotPurposeCode  }
    # TODO Foresees contract specific term / contractTErm
    
    BIND(?lot AS ?defaultLotId)
    OPTIONAL { ?lot epo:hasID [epo:hasIdentifierValue ?lotIdentifierValue ] . }
    BIND(COALESCE(?lotIdentifierValue, ?defaultLotId) AS ?lotId)
    OPTIONAL {
      ?lot ^epo:isSubmittedForLot ?tender .
      ?tender a epo:Tender ; 
        ^epo:announcesTender ?notice ;
        epo:foreseesConcession [epo:hasCalculationMethod ?tenderConcessionMethod ] .
  
        OPTIONAL {
          ?tender ?titlePred ?tenderTitle ;
          FILTER(?titlePred in (
              epo:hasTitle,
              dct:title
          )) .
        }
        OPTIONAL { ?tender dct:issued ?issued }
        OPTIONAL { ?tender ?descriptionProp ?tenderDescription 
          FILTER(?descriptionProp in (
              dct:description,
              epo:hasDescription
          )) .
        }
        OPTIONAL { ?tender epo:hasPublicationDate ?hasPublicationDate }
        OPTIONAL { ?tender epo:hasReceptionDate ?hasReceptionDate }
        OPTIONAL { ?tender epo:hasDispatchDate ?hasDispatchDate }
        OPTIONAL { ?tender epo:hasVersion ?hasVersion }
        OPTIONAL { ?tender epo:hasUUID ?hasUUID }
        OPTIONAL { ?tender epo:refersToPrevious ?refersToPrevious }
        OPTIONAL { ?tender epo:associatedWith ?associatedWith }
        OPTIONAL { ?tender epo:hasUnofficialLanguage ?hasUnofficialLanguage }
        OPTIONAL { ?tender epo:hasOfficialLanguage ?hasOfficialLanguage }
        OPTIONAL { ?tender epo:hasAccessURL ?hasAccessURL }
        OPTIONAL { ?tender epo:hasElectronicDigest ?hasElectronicDigest }
        OPTIONAL { ?tender epo:hasElectronicSignature ?hasElectronicSignature }
        OPTIONAL { ?tender epo:hasElectronicSubmission ?hasElectronicSubmission }
        OPTIONAL { ?tender epo:isVariant ?isVariant }
        OPTIONAL { ?tender epo:isSubmitedBy ?isSubmitedBy }
        OPTIONAL { ?tender epo:isSubmittedForLot ?isSubmittedForLot }
        OPTIONAL { ?tender epo:isSubjectToGrouping ?isSubjectToGrouping }
        OPTIONAL { ?tender epo:hasFinancialOfferValue ?hasFinancialOfferValue }
        OPTIONAL { ?tender epo:specifiesSubcontractors ?specifiesSubcontractors }
        OPTIONAL { ?tender epo:foreseesSubcontracting ?foreseesSubcontracting }
        OPTIONAL { ?tender epo:hasSubcontracting ?hasSubcontracting }
        OPTIONAL { ?tender epo:hasItemCountryOfOrigin ?hasItemCountryOfOrigin }
    }
    
    OPTIONAL {
      ?lotAwardOutcome a epo:LotAwardOutcome ;
      epo:concernsLot|epo:describesLot ?lot ;
      epo:hasAwardedValue [
        epo:hasAmountValue ?lotAwardOutcomeValue ; epo:hasCurrency ?lotAwardOutcomeCurrency 
      ] .
    }
    OPTIONAL {
        ?lot ?titlePred ?lotTitle ;
        FILTER(?titlePred in (
            epo:hasTitle,
            dct:title
        )) .
    }
    OPTIONAL { ?lot ?descriptionProp ?lotDescription 
        FILTER(?descriptionProp in (
            dct:description,
            epo:hasDescription
        )) .
    }
    OPTIONAL {
        ?lot epo:hasEstimatedValue [
            epo:hasAmountValue ?lotEstValue ; epo:hasCurrency ?estValCurrency
        ] .
        SERVICE Service:label {
            ?estValCurrency mplabel:label ?lotEstValCurrencyLabel ;
            mplabel:preferredLanguage ?__userPreferredLanguage__ .
        }
    }
    OPTIONAL {
        ?lot epo:hasRestatedEstimatedValue [
            epo:hasAmountValue ?lotRestatedEstValue ; epo:hasCurrency ?estValCurrency
        ] .
        SERVICE Service:label {
            ?estValCurrency mplabel:label ?lotRestatedEstValCurrencyLabel ;
            mplabel:preferredLanguage ?__userPreferredLanguage__ .
        }
    }
    OPTIONAL { ?lot epo:hasRestatedEstimatedValue ?hasRestatedEstimatedValue}
    OPTIONAL { ?lot epo:usesChannel [ dct:description ?channel ]}
    OPTIONAL { ?lot adms:identifier ?identifier}
    OPTIONAL { ?lot epo:isSMESuitable ?isSMESuitable }
    OPTIONAL { ?lot epo:isUsingEUFunds ?isUsingEUFunds }
    OPTIONAL { ?lot epo:isCoveredByGPA ?isCoveredByGPA }
    OPTIONAL { ?lot epo:isRecurrent ?isRecurrent }
    OPTIONAL { ?lot epo:hasRecurrenceDescription ?recurrenceDescription }
    OPTIONAL { ?lot epo:foreseesConcession ?lotConcession }
    OPTIONAL { ?lot epo:hasLaunchFrameworkAgreementMaximumValue ?launchFrameworkAgreementMaximumValue }
    # TODO move 
    # OPTIONAL { ?lot epo:foreseesContractSpecificTerm ?lotContractSpecificTerm }
    OPTIONAL { ?lot epo:hasLegalBasisDescription ?legalBasisDescription }
    OPTIONAL { ?lot epo:hasLegalBasis ?legalBasis }
    OPTIONAL { ?lot epo:usesTechnique [dct:description ?usesTechnique ] }
    OPTIONAL { ?lot epo:isSubjectToTerm ?SubjectToTerm }
    # TODO uncomment and add support
    # OPTIONAL {
    #   ?lot epo:fulfillsStrategicProcurement [ epo:fulfillsRequirement ?strategicProcurement ]
    #   SERVICE Service:label {
    #         ?strategicProcurement mplabel:label ?strategicProcurementLabel ;
    #         mplabel:preferredLanguage ?__userPreferredLanguage__ .
    #     }
    # }
  
    # lot
    OPTIONAL { 
    ?lot epo:specifiesProcurementCriterion ?pCriterion ;
        a epo:ProcurementCriterion ; 
        skos:prefLabel ?pCriterionLabel .
    }
    # TODO move lot terms to dedicated component
    # OPTIONAL { ?lot epo:isSubjectToLotSpecificTerm ?lotSpecificTerm }
  }
  
    "
    template='{{>tpl }}'>
    <template id='tpl'>
      <div class="container">
      {{#each bindings}}
      <bs-accordion class="wide-card">
      <!-- <bs-accordion default-active-key="expand"> -->
        <bs-card>
          <bs-card-header>
            <bs-row>
              <bs-col sm="5">
                {{> Platform:customTemplateFragments::KeyValueRow key="ID" value=lotId.value }}
                {{> Platform:customTemplateFragments::KeyValueRow key="title" value=lotTitle.value }}
                {{> Platform:customTemplateFragments::KeyLongValueRow key="description" value=lotDescription.value }}
                {{> Platform:customTemplateFragments::KeyMoneyRow key="Award outcome value" value=lotAwardOutcomeValue.value currency=lotAwardOutcomeCurrencyLabel.value }}
                {{> Platform:customTemplateFragments::KeyMoneyRow key="Restated value" value=lotAwardOutcomeValue.value currency=lotAwardOutcomeCurrencyLabel.value }}
                {{> Platform:customTemplateFragments::KeyMoneyRow key="Estimated value" value=lotRestatedEstValue.value currency=lotRestatedEstValCurrencyLabel.value }}
              </bs-col>
              <bs-col sm="2">
                  {{#if tender}}
                  <p class="content-comment">has associated tender</p>
                  {{/if}}
              </bs-col>
              <bs-col sm="5">
                {{#if tender}}
                  {{> Platform:customTemplateFragments::KeyValueRow key="ID" value=tender.value }}
                {{else}}
                  <p class="no-content-comment">no associated tender</p>
                {{/if}}
              </bs-col>
            </bs-row>
            <!-- <bs-accordion-toggle event-key="expand" class="btn btn-link show-more">
              Show more
            </bs-accordion-toggle> -->
            <mp-accordion-toggle event-key="expand" class="card-toggle show-more">
              <button class="btn btn-link">
                <span class="expand-card">
                  <span class="material-symbols-outlined" aria-hidden="true" style="font-size: 2.5em">expand_more</span>
                </span>
                <span class="collapse-card">
                  <span class="material-symbols-outlined" aria-hidden="true" style="font-size: 2.5em">expand_less</span> 
                </span>
              </button>
            </mp-accordion-toggle>
          </bs-card-header>
          <bs-accordion-collapse event-key="expand">
            <bs-card-body>
              <bs-row>
                {{#if additionalInformation}}{{> Platform:customTemplateFragments::KeyLongValueCols key="Additional information" key-sm-offset="0" key-sm="2" val-sm-offset="0" val-sm="3" value=additionalInformation.value }}{{/if}}
                {{#if concessionMethod}}{{> Platform:customTemplateFragments::KeyValueCols key="Concession method" key-sm-offset="2" key-sm="2" val-sm-offset="0" val-sm="2" value=concessionMethod.value }}{{/if}}
              </bs-row>
              <bs-row>
                {{> Platform:customTemplateFragments::KeyValueRow key="Channel" value=channel.value }}
              </bs-row>
              <bs-row>
                {{> Platform:customTemplateFragments::KeyBoolValueRow key="Is SME suitable" value=isSMESuitable }}
              </bs-row>
              <bs-row>
                {{> Platform:customTemplateFragments::KeyBoolValueRow key="Is using EU funds" value=isUsingEUFunds }}

              </bs-row>
              <bs-row>
                {{> Platform:customTemplateFragments::KeyBoolValueRow key="Is covered by GPA" value=isCoveredByGPA }}

              </bs-row>
              <bs-row>
                {{> Platform:customTemplateFragments::KeyValueRow key="usesTechnique" value=usesTechnique.value }}

              </bs-row>
              
            </bs-card-body>
          </bs-accordion-collapse>
        </bs-card>
      </bs-accordion>
      {{/each}}
    </div>
    </template>
  </semantic-query>
</template-fragment>


<!-- ------------------------------Page structure ------------------------  -->
<div class="page">
  <div id='overview' class='custom-page-header'>
    <div>
      <h1 id="notice-overview">Imprint</h1>
    </div>
    <div>
      {{> ::tf-overview}}
    </div>
    {{> ::tf-lots}}
  </div>
  <div class="custom-page-content">
    <div id='page-nav' class='navigationSidebar'>
      <p><a href='#overview'><b>Overview</b></a></p>
      <p><a href='#lots'><b>Lots</b></a></p>
      <p><a href='#buyer'><b>Buyer</b></a></p>
      <p><a href='#procedure'><b>Procedure</b></a></p>
      <p><a href='#contract_terms'><b>Contract terms</b></a></p>
      <p class="indent-l1"><a href='#procedure_terms'><b>Procedure terms</b></a></p>
      <p><a href='#lots'><b>Lots</b></a></p>
      <p><a href='#tenders'><b>Tenders</b></a></p>
    </div>
    <div class='main-content'>
      <div class="section">
        <h1 id="timeline">Timeline</h1>
        {{> ::tf-timeline}}
      </div>
      <div class="section">
        <h1 id="buyer">Buyer</h1>
        {{> ::tf-buyer}}
      </div>
      <div class="section">
        <h1 id="procedure">Procedure</h1>
        {{> ::tf-procedure}}
      </div>
      <div class="section">
        <h2 id="contract_terms">Contract specific terms</h2>
        {{> ::tf-contract-terms-all}}  
      </div>
      <div class="section">
        <h2 id="procedure_terms">Procedure specific terms</h2>
        {{> ::tf-procedure-terms-all}}  
      </div>
      <div class="section">
        <bs-row>
          <bs-col sm="5">
            <h1 id="lots">Lots</h1>
          </bs-col>
          <bs-col sm-offset="2" sm="5">
            <h1 id="tenders">Tenders</h1>
          </bs-col>
        </bs-row>
        {{> ::tf-lots-and-tenders}}
      </div>
      <div class="section">
        <h1 id="winner">Winner</h1>
        {{> ::tf-winner}}
      </div>
    </div>
  </div>
</div>
